<aside class = "booking">
    <h1>Start booking</h1>
    <p>{{ product.formatted_price }}</p>
    <h2>Dates</h2>
    <div class = "date-pickers">
        <div class = "pick-date">
            <span class = "calendar-img"><img src="../../images/calendar.svg"></span>
            <input id="calendarFrom" placeholder = "From Date"/>
        </div>
        <div class = "pick-date">
            <span class = "calendar-img"><img src="../../images/calendar.svg"></span>
            <input id="calendarTo" placeholder = "To Date"/>
        </div>
    </div>
    <h2>Guests</h2>
    <div class = "guest-pickers">
        <div class = "pick-guests">
            <span class = "guest-img"><img src="../../images/person.svg"></span>
            <span class = "guest-type">Adult</span>
            <input class = "adults-num" type = "tel" placeholder = "1"/>
            <span class = "plus-minus">
                <button class = "guests-btn plus-adults">+</button>
                <button class = "guests-btn minus-adults">-</button>
            </span>
        </div>
        <div class = "pick-guests">
            <span class = "guest-img"><img src="../../images/baby.svg"></span>
            <span class = "guest-type">Children</span>
            <input class = "children-num" type = "tel" placeholder = "1"/>
            <span class = "plus-minus">
                <button class = "guests-btn plus-children">+</button>
                <button class = "guests-btn minus-children">-</button>
            </span>
        </div>
    </div>
    <button class = "check-btn">check availability</button>
</aside>

<aside class = "recommendations">
    <h1>You may also like</h1>
        <div class = "recommended-apts">
            {% set randomNum = random(0, 3) %}
            <div class = "apartment">
                <img class = "apt-img" src = "{{products[randomNum].images[0].url}}"/>
                <div class = "apt-text">
                    <h3>{{ products[randomNum].title }}</h3>
                    <span><a href = "/room/{{products[randomNum].slug}}">Book now</a><img class='details-arrow' src='../../images/details-arrow.svg'></span>
                    <p class = "apt-price">{{ products[randomNum].formatted_price }}</p>
                </div>
            </div>
            {% set randomNum = random(4, 7) %}
            <div class = "apartment">
                <img class = "apt-img" src = "{{products[randomNum].images[0].url}}"/>
                <div class = "apt-text">
                    <h3>{{ products[randomNum].title }}</h3>
                    <span><a href = "/room/{{products[randomNum].slug}}">Book now</a><img class='details-arrow' src='../../images/details-arrow.svg'></span>
                    <p class = "apt-price">{{ products[randomNum].formatted_price }}</p>
                </div>
            </div>
        </div>
</aside>



