{% extends '/main_layout.html.twig' %}

{% block header %}
    {% include "partials/header-product.html.twig" %}
{% endblock %}

{% block content %}
    <div class = "product-container">
        <div class = "slider-for">
            <img class = "product-image" src = '{{product.images[0].url}}'/>
            <img class = "product-image" src = '{{product.images[1].url}}'/>
            <img class = "product-image" src = '{{product.images[2].url}}'/>
            <img class = "product-image" src = '{{product.images[3].url}}'/>
            <img class = "product-image" src = '{{product.images[2].url}}'/>
        </div>

        <div class = "slider-nav">
            <img class = "product-image--nav" src = '{{product.images[0].url}}'/>
            <img class = "product-image--nav" src = '{{product.images[1].url}}'/>
            <img class = "product-image--nav" src = '{{product.images[2].url}}'/>
            <img class = "product-image--nav" src = '{{product.images[3].url}}'/>
            <img class = "product-image--nav" src = '{{product.images[2].url}}'/>
        </div>

        <section class = "product-content">
            <div class = "main-content">
                {% include "partials/product-description.html.twig" %}
            </div>

            <div class = "side-content">
                {% include "partials/side-content.html.twig" %}
            </div>
        </section>

        {% include "partials/comments.html.twig" %}
    </div>
{% endblock %}
